:root{
    --primary:#779840;
    --primary--light:#89a34d;
    --secondary:#e2600f;
    --page:#a18e6d;
    --details:#444454;
    --details-light:#a8b7d3;


}


.page{
    background-color:var(--page);
}

.primary-bg{
    background-color:var(--primary);
}

.secondary-bg{
    background-color: var(--secondary);
}

.text-details{
    color: var(--details);
}

.bg-1{
    background-image: url(https://images.unsplash.com/photo-1675248086338-8c74bd4796a7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGJhYnklMjB0b3J0b2lzZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    aspect-ratio: 8/5;

}

.h-10{
    height:fit-content;
}

.btn-details{
    color: var(--details);
    border: 3px groove var(--details);
    background-color: var(--details-light);
}

.btn-details:hover{
    text-shadow:var(--details-light) 1px -1px 10px ;

}

.h-fit-content{
    height: fit-content;
}

.subtle-heading{
    position: absolute;
    bottom: 0px;
}

.position-relitive{
    position: relative;
    height: 10px;
}